* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
body {
    background: #1ABB9E;
}
.container {
    margin: 100px auto;
    width: 500px;
}
ul.menu {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
ul.menu li {
    color: #fff;
    font-size: 30px;
    position: relative;
}
ul.menu li:hover+.sub_menu {
    opacity: 1;
    visibility: visible;
}
.sub_menu {
    text-align: center;
}
.sub_menu form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
    position: absolute;
}
.sub_menu form input {
    padding: 15px 97px;
    margin: 5px 0;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    
}
::placeholder {
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}
